
.app-wrapper {
    /* background : url('./media/background.jpg') no-repeat; */
    
  background-size: cover;
    background-position: center;
  min-height: 100vh; /* Ensures that the background covers the entire viewport height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}