
.app-wrapper {
  /* background : url('./media/background.jpg') no-repeat; */
  
background-size: cover;
  background-position: center;
min-height: 100vh; /* Ensures that the background covers the entire viewport height */
margin: 0; /* Remove default margin */
padding: 0; /* Remove default padding */
box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.Db{
padding: 20px;
margin-top: 100px;
}

.dash1{
display: flex;
gap: 20px;
}

.text1{
text-decoration: none;
color: yellow;
}
.text2{
text-decoration: none;
color: yellow;
}

.upload_project{
padding: 30px;
background: linear-gradient(blue, pink);
}
.see_student_list{
padding: 30px;
background: linear-gradient(blue, 10%, pink);
}